body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input,button,textarea{
    border: none;
    outline: none;
}
nav .logo img{
    height: 80px;
}

nav {
    position:fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgba(0, 120, 190, 0.485);
    padding: 10px;
    z-index: 1;
}

nav ul {
    display: flex;
}

nav ul li a {
    line-height: 40px;
    margin: 3px;
    padding: 0 25px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.6s ease-in-out;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-family:cursive;
}

nav ul li a:hover {
    background-color: #034770;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.active {
    background-color: #034770;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(3, 71, 112, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #ffffff;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3b9dff;
}

.dropdown-content {
    z-index: 1;
}