body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-image: url('../image/report-service.jpg');
    background-size: cover;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input,button,textarea{
    border: none;
    outline: none;
}
.heading {
            text-align: center;
            /* margin-top: 50px; */
        }

        .heading h2 {
            font-family: cursive;
            font-size: 2rem;
            color: #333;
            margin-bottom: 20px;
            position: relative;
            display: inline-block;
            padding-bottom: 10px;
        }

        .heading h2::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 2px;
            background-color: #333;
            
        }
        .container {
            max-width: 500px;
            margin: 1rem auto;
            background-color: rgba(0, 98, 190, 0.489);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        

        .form-label {
            color: #f9f9f9;
            font-weight: bold;
            font-size: 16px;
        }
        .form-check{
            color: #f9f9f9;
        }
        .form-control {
            background-color: #ffffff;
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-sizing: border-box;
        }
        .form-select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-sizing: border-box;
        }

        .invalid-feedback {
            color: #dc3545;
            display: none;
        }

        .form-check-input {
            margin-top: 5px;
        }

        .btn-primary {
            text-decoration: none;
            padding: 1rem 1rem;
            background: #034770;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.4s ease-in-out;
            border-radius: 10px;
        }

        .btn-primary:hover {
            box-shadow: 0px 7px 10px rgba(0,0,0,0.7);
        }           